<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="/static/styles.css">
	<title>Pump-Chest</title>
</head>
<body>


	<header>

		<a href="#home" class="logo">Pump <span>Chest</span></a>

		<div class='bx bx-menu' id="menu-icon"></div>

		<ul class="navbar">
			<li><a href="#home">Home</a></li>
			<li><a href="#workout">Workout</a></li>
			<li><a href="#services">Services</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#plans">Pricing</a></li>
			<li><a href="#review">Review</a></li>
		</ul>

		<div class="top-btn">
			<!--<a href="/heartrate" class="nav-btn">Join Us</a>-->
			<a href="/login" class="nav-btn">Join Us</a>
			<a href="/workout" class="nav-btn1">Sign In</a>
		</div>

	</header>

	<section class="home" id="home">
		<div class="home-content" data-aos="zoom-in">

			<h3>Build Your</h3>
			<h3>Dream Physique</h3>
			<h1>With Correct Form</h1>
			<h1>And Posture</h1>
			<h3><span class="multiple-text"></span></h3>

			<p>Pump Chest Team</p>

			<a href="#" class="btn">Join Us</a>

		</div>
			
		<div class="home-img" data-aos="zoom-in">
				<img src="/static/images/Screenshot 2025-01-23 at 10.38.22 AM.png" alt="Home Image">
		</div>

	</section>

	<section class="services" id="services">
		<h2 class="heading" data-aos="zoom-in-down">Our Form Detection Services Can Help You <Span>With</Span></h2>

		<div class="services-content" data-aos="zoom-in-up">
			<div class="row">
				<img src="/static//images/pf.jpg" alt="">

				<h4>Physical Fitness</h4>
			</div>

			<div class="row">
				<img src="/static//images/wg11.jpeg" alt="">

				<h4>Weight Gain</h4>
			</div>

			<div class="row">
				<img src="/static/images/st.jpeg" alt="">

				<h4>Strength Training</h4>
			</div>

			<div class="row">
				<img src="/static/images/fl1.jpeg" alt="">

				<h4>Fat Loss</h4>
			</div>

			<div class="row">
				<img src="/static/images/wl.jpg" alt="">

				<h4>Weight Lifting</h4>
			</div>
		</div>	

</section>

	<section class="about" id="about">
		<div class="about-img" data-aos="zoom-in-down">
			<img src="/static/images/wl.jpg" alt="">
		</div>

		<div class="about-content" data-aos="zoom-in-up">
			<h2 class="heading">Why Choose Our Service?</h2>

			<p>Perfect your form with real-time feedback.</p>
			<p>Unlock your potential with intelligent workout guidance.</p>
			<p>Train smarter with precise form corrections.</p>
			<p>Supportive tools for a safe and effective fitness journey.</p>

			<a href="#" class="btn">7 Day Free Trial</a>
		</div>
	</section>

	<section class="plans" id="plans">
		<h2 class="heading" data-aos="zoom-in-down">Our <span>Plans</span></h2>

		<div class="plans-content" data-aos="zoom-in-up">

			<div class="box">
				<h3>BASIC</h3>
				<h2><span>$5/Month</span></h2>
				<ul>
					<li>Smart Workout Plan</li>
					<li>At Home Workout</li>
				</ul>
				<a href="#">
					Join Now
					<i class='bx bx-right-arrow-alt' ></i>
				</a>
			</div>

			<div class="box">
				<h3>PRO</h3>
				<h2><span>$10/Month</span></h2>
				<ul>
					<li>Pro Gains</li>
					<li>Smart Workout Plan</li>
					<li>At Home Workout</li>
				</ul>
				<a href="#">
					Join Now
					<i class='bx bx-right-arrow-alt' ></i>
				</a>
			</div>

			<div class="box">
				<h3>PREMIUM</h3>
				<h2><span>$15/Month</span></h2>
				<ul>
					<li>Premium Performance</li>
					<li>Premium Gains</li>
					<li>Premium Training Result</li>
					<li>Smart Workout Plan</li>
					<li>At Home Workout</li>
				</ul>
				<a href="#">
					Join Now
					<i class='bx bx-right-arrow-alt' ></i>
				</a>
			</div>
		</div>
	</section>


	<section class="review" id="review">
		<div class="review-box">
			<h2 class="heading" data-aos="zoom-in-down">Client <span>Reviews</span></h2>

			<div class="wrapper" data-aos="zoom-in-up">
				<div class="review-item">
					<img src="/static/images/dan.jpeg" alt="">
					<h2>Dan</h2>
					<div class="rating">
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
					</div>

					<p>Good workout tracking</p>
				</div>

				<div class="review-item">
					<img src="/static/images/max.jpeg" alt="">
					<h2>Max</h2>
					<div class="rating">
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
					</div>

					<p>Loved the workout tracking</p>
				</div>

				<div class="review-item">
					<img src="/static/images/tim11.jpeg" alt="">
					<h2>Tim</h2>
					<div class="rating">
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
						<i class='bx bxs-star' id="Star"></i>
					</div>

					<p>Good overall performance and schedule</p>
				</div>
			</div>
		</div>
	</section>


	<footer class="footer">
		<div class="social">
			<a href="#"><i class='bx bxl-facebook' ></i></a>
			<a href="#"><i class='bx bxl-instagram' ></i></a>
			<a href="#"><i class='bx bxl-linkedin' ></i></a>
		</div>

		<p class="copyright">
			&copy; Pump Chest 2025 - All Rights Reserved
		</p>
	</footer>

	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
 	<script>
		AOS.init({
			offset: 300,
			duration: 1400,
		});
	</script>
	<script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
	<script src="script.js"></script>

</body>
</html>